/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

.App {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.dark {
  background-color: #222;
  color: #fff;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 80px;
  pointer-events: none;
}

.credentials {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h2 {
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type='text'],
input[type='password'] {
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
}

button[type='submit'] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #45a049;
}

nav {
  background-color: #4caf50;
  padding: 10px;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  margin-right: 10px;
}

.nav-menu li:last-child {
  margin-right: 0;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.nav-menu a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.active {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.dark-mode-button {
  background-color: #fff;
  color: #4caf50;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}

/* react-datepicker styles */
.react-datepicker-popper {
  z-index: 1;
}

.react-datepicker {
  font-family: 'Josefin Sans', sans-serif;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.react-datepicker__header {
  background-color: #4caf50;
  color: #fff;
}

.react-datepicker__day {
  color: #000;
}

.react-datepicker__day--selected {
  background-color: #4caf50;
  color: #fff;
}

.react-datepicker__day--selected:hover {
  background-color: #45a049;
}

.react-datepicker__day--keyboard-selected {
  background-color: #45a049;
}

/* Dark mode styles */

.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode .App-header {
  background-color: #000;
}

.dark-mode .credentials {
  background-color: #333;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.dark-mode .credentials h2 {
  color: #fff;
}

.dark-mode form label {
  color: #fff;
}

.dark-mode input[type='text'],
.dark-mode input[type='password'] {
  background-color: #555;
  color: #fff;
}

.dark-mode button[type='submit'] {
  background-color: #4caf50;
  color: #fff;
}

.dark-mode nav {
  background-color: #000;
}

.dark-mode .nav-menu a {
  color: #fff;
}

.dark-mode .nav-menu a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.dark-mode .active {
  background-color: rgba(0, 0, 0, 0.1);
}

.dark-mode .dark-mode-button {
  background-color: #4caf50;
  color: #fff;
}

.dark-mode .react-datepicker__header {
  background-color: #000;
  color: #fff;
}

.dark-mode .react-datepicker__day {
  color: #fff;
}

.dark-mode .react-datepicker__day--selected {
  background-color: #4caf50;
  color: #fff;
}

.dark-mode .react-datepicker__day--selected:hover {
  background-color: #45a049;
}

.dark-mode .react-datepicker__day--keyboard-selected {
  background-color: #45a049;
}

/* Responsive Styles */

@media screen and (max-width: 600px) {
  .credentials {
    width: 90%;
  }
}
